data/flows.json
[{"id":"ada9f3ed.52ac2","type":"tab","label":"Sample"},{"id":"8c466fb2.52342","type":"tab","label":"Face detection"},{"id":"fe77469a.b319f8","type":"subflow","name":"new image","info":"","in":[],"out":[{"x":342.888916015625,"y":132.77783203125,"wires":[{"id":"dd51c243.df1fa","port":0}]}]},{"id":"2479ed4b.d28c22","type":"ui_group","z":"","name":"orig","tab":"501d1998.865f4","disp":false,"width":"10"},{"id":"501d1998.865f4","type":"ui_tab","z":"","name":"Home","icon":"","order":"0"},{"id":"e6ccc9c1.f7f5d8","type":"openwhisk-service","z":"","name":"","api":"https://openwhisk.ng.bluemix.net/api/v1"},{"id":"44f9c720.c434c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":64,"sy":64,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1ceda9a6.5c8486","type":"openwhisk-localservice","z":"","name":"","resolution":"ip","dockerurl":"http://hslt1:2375","docker":"local"},{"id":"dd51c243.df1fa","type":"function","z":"fe77469a.b319f8","name":"add metadata","func":"b64_img = msg.payload;\nmsg.payload = {};\nmsg.payload.image = b64_img;\nmsg.payload.type = \"jpg\";\nmsg.payload.margin = \"0.3\";\n\nreturn msg;","outputs":"1","noerr":0,"x":192.888916015625,"y":132.77783203125,"wires":[[]]},{"id":"cf5a7e49.6ee8f8","type":"openwhisk-action","z":"8c466fb2.52342","name":"find faces","func":"","namespace":"glikson@il.ibm.com_orface","action":"facedet","params":[{"disabled":true}],"service":"e6ccc9c1.f7f5d8","localservice":"1ceda9a6.5c8486","edit":false,"runtime":"local","x":407.793643951416,"y":89.71428680419922,"wires":[["dce37e2d.30e63","520584f4.876924"]]},{"id":"520584f4.876924","type":"openwhisk-action","z":"8c466fb2.52342","name":"determine identity","func":"","namespace":"glikson@il.ibm.com_orface","action":"visual/facerec","params":[{"disabled":true}],"service":"e6ccc9c1.f7f5d8","localservice":"","edit":false,"runtime":"service","x":616.7778778076172,"y":140.111083984375,"wires":[["14210bfd.49abcc","dce37e2d.30e63"]]},{"id":"dce37e2d.30e63","type":"debug","z":"8c466fb2.52342","name":"","active":true,"console":"false","complete":"false","x":971.8889007568359,"y":84.52783203125,"wires":[]},{"id":"14210bfd.49abcc","type":"openwhisk-action","z":"8c466fb2.52342","name":"add labels","func":"","namespace":"glikson@il.ibm.com_orface","action":"facetag","params":[{"disabled":true}],"service":"e6ccc9c1.f7f5d8","localservice":"1ceda9a6.5c8486","edit":false,"runtime":"local","x":787.6667327880859,"y":200.19448852539062,"wires":[["341c1d9a.80c462","dce37e2d.30e63"]]},{"id":"341c1d9a.80c462","type":"ui_template","z":"8c466fb2.52342","group":"2479ed4b.d28c22","name":"Tagged faces","order":"1","width":"0","height":"0","format":"<img alt=\"image\" height=\"50%\" src=\"data:image/jpg;base64,{{msg.payload.tagged_faces}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":988.6032257080078,"y":199.63495063781738,"wires":[[]]},{"id":"bcffef09.2d99e8","type":"ui_template","z":"8c466fb2.52342","group":"2479ed4b.d28c22","name":"Show Image","order":0,"width":0,"height":0,"format":"<img alt=\"image\" height=\"50%\" src=\"data:image/jpg;base64,{{msg.payload.image}}\"/>","storeOutMessages":true,"fwdInMessages":true,"x":404.6666717529297,"y":173.88894653320312,"wires":[[]]},{"id":"3f32bb0.6c6a7c6","type":"watch","z":"fe77469a.b319f8","name":"new image","files":"/root/images","x":153.888916015625,"y":362.5278015136719,"wires":[["c2e96205.a1acd"]]},{"id":"dd4e7dbf.87093","type":"file in","z":"fe77469a.b319f8","name":"read file","filename":"","format":"","x":408.88890075683594,"y":371.5278015136719,"wires":[["3817a0c.2b1216"]]},{"id":"c2e96205.a1acd","type":"function","z":"fe77469a.b319f8","name":"retrieve filename","func":"msg.filename=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":292.88885498046875,"y":291.5278015136719,"wires":[["dd4e7dbf.87093"]]},{"id":"3817a0c.2b1216","type":"base64","z":"fe77469a.b319f8","name":"convert to base64","x":539.8889007568359,"y":291.5278015136719,"wires":[["dd51c243.df1fa"]]},{"id":"1b01b963.f2d847","type":"inject","z":"ada9f3ed.52ac2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":243.50624084472656,"y":115.375,"wires":[["b8c9b524.2df5c8"]]},{"id":"65bd3ebd.13ff7","type":"debug","z":"ada9f3ed.52ac2","name":"","active":true,"console":"false","complete":"false","x":692.4999237060547,"y":230.45623779296875,"wires":[]},{"id":"b8c9b524.2df5c8","type":"openwhisk-action","z":"ada9f3ed.52ac2","name":"","func":"","namespace":"glikson@il.ibm.com_orface","action":"/whisk.system/utils/date","params":[{"disabled":true}],"service":"e6ccc9c1.f7f5d8","localservice":"","edit":false,"runtime":"local","x":492.4999542236328,"y":156.53749084472656,"wires":[["65bd3ebd.13ff7"]]},{"id":"c536b3f6.5628e","type":"openwhisk-action","z":"ada9f3ed.52ac2","name":"","func":"","namespace":"glikson@il.ibm.com_orface","action":"hello","params":[{"disabled":true}],"service":"e6ccc9c1.f7f5d8","localservice":"1ceda9a6.5c8486","edit":false,"runtime":"service","x":357.5061492919922,"y":324.1312255859375,"wires":[["d53668b5.f38fe8"]]},{"id":"1404e20a.acb1ee","type":"inject","z":"ada9f3ed.52ac2","name":"","topic":"","payload":"{\"name\":\"EAA\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":189.50624084472656,"y":213.37498474121094,"wires":[["c536b3f6.5628e"]]},{"id":"d53668b5.f38fe8","type":"json","z":"ada9f3ed.52ac2","name":"","x":515.5062103271484,"y":252.98123168945312,"wires":[["65bd3ebd.13ff7"]]},{"id":"13a2f75c.acf979","type":"subflow:fe77469a.b319f8","z":"8c466fb2.52342","name":"","x":188.31748962402344,"y":112.15281581878662,"wires":[["bcffef09.2d99e8","cf5a7e49.6ee8f8"]]}]